#title {
    text-align: center;
}

#question {
    text-align: center;
}

.answer-btn {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 45%;
}

.btn {
    text-align: center;
}

.btn-row {
    width: 50%;
    margin-left: 25%;
}

#timer {
    text-align: center;
    font-weight: bold;
}

#start {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 15%;
}

#start-btn-div {
    margin: 0 auto;
    text-align:center;
}